@using ElectronicsStore.ViewModel;
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
          crossorigin="anonymous" />
    <!-- ===== CSS ===== -->
    <!-- ===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!-- ===== Modal ===== -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <link href="~/css/Index.css" rel="stylesheet" />
    <link href="~/tab/tab.css" rel="stylesheet" />
    <style>
        a {
            text-decoration: none;
        }

        .div-hover:hover {
            opacity: 0.6;
        }

        
    </style>
</head>

<body>
    <nav>
        <div class="nav-bar ">
            <i class='bx bx-menu sidebarOpen'></i>
            <span class="logo navLogo"><a href="/Home/Index">Electronics Store</a></span>
            <div class="w-50">
                <input id="search-input" type="text" class="form-control w-100" style="border:none" placeholder="Bạn tìm linh kiện gì...">

            </div>
            <div class="">
                <button type="button" class="bg-white border-0 p-2 text-dark" style="border-radius: 5px" data-bs-toggle="modal" data-bs-target="#OrderDetail">
                    Đơn hàng
                </button>

            </div>
            <div class="menu ">
                <div class="logo-toggle">
                    <span class="logo"><a href="#">Electronics Store</a></span>
                    <i class='bx bx-x siderbarClose'></i>
                </div>
                <div class="row">



                    <div class="col-12">
                        <a href="/Home/Cart" class="bg-white p-2 text-dark" style="border-radius: 5px; text-decoration: none; position: relative;">
                            <i class="fas fa-cart-plus"
                               style="color: #de0146"></i> Giỏ hàng <span class="p-1" style="position:absolute;background-color: #fff;border-radius: 10px;color: #de0146;font-weight: bolder;top:-15px;right: -20px;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">+<span id="count-items">0</span></span>
                        </a>
                    </div>

                </div>

            </div>

            <div class="darkLight-searchBox">
                <div class="dark-light">
                    <i class='bx bx-moon moon'></i>
                    <i class='bx bx-sun sun'></i>
                </div>

                <div class="searchBox">
                    <div class="searchToggle">
                        <i class='bx bx-x cancel'></i>
                        <i class='bx bx-search search'></i>
                    </div>

                    <div class="search-field">
                        <input id="search-input2" type="text" placeholder="Nhập tên linh kiện...">
                        <i class='bx bx-search'></i>
                    </div>
                </div>
            </div>
            <div class="text-white " style="cursor:pointer">
                @if (ViewData["Login"] != null)
                {
                    KhachhangViewModel khachhangview = ViewData["Login"] as KhachhangViewModel;
                <div id="InfoDropDown">
                    <div class="d-flex justify-content-center align-items-center div1" style="position: relative;">
                        @if (khachhangview.ExistingImage != null)
                        {
                            <img src="/Images/@khachhangview.ExistingImage" class="mr-2" style="width: 50px; height: 50px;border-radius: 50%;border:4px solid #fff" /> <span> @khachhangview.Tenkh</span>
                            <div class="p-2 div2 product" id="InfoDropDownItem"
                                 style="display:none;position: absolute;top: 50px;right:-50px;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;background-color: #de0146;border-radius: 5px;width:250px">

                                <div class="p-2 div-hover">
                                    <a class="div-hover-a" href="/Home/PersonalPage"
                                       style="color: #fff;text-decoration: none;">Thông tin cá nhân</a>
                                </div>
                                <div class="p-2 div-hover">
                                    <a class="div-hover-a" href="/Home/OrderedDetails"
                                       style="color: #fff;text-decoration: none;">Lịch sử đơn hàng</a>
                                </div>
                                @*<div class="p-2 div-hover">
                        <a class="div-hover-a" href="/Home/PersonalPage"
                           style="color: #fff;text-decoration: none;">Cá nhân</a>
                    </div>*@
                                <div class="mt-2 p-2 div-hover">
                                    <a href="/Access/Logout"
                                       class="div-hover-a" style="color: #fff;text-decoration: none;">Đăng xuất</a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <i class="fas fa-user-circle mr-3" style="font-size: 32px"></i> <span> @khachhangview.Tenkh</span>

                        }

                    </div>
                </div>
                }
                else
                {
                    <a style="text-decoration:none;color:white " href="/Access/Login">

                        <div class="d-flex justify-content-center align-items-center">
                            <i class="fas fa-user-circle mr-3" style="font-size: 32px"></i> <span> Tài khoản</span>
                        </div>
                    </a>

                }

            </div>
        </div>
    </nav>

    <div id="OrderDetail" class="modal fade " tabindex="-1">

        <div class="modal-dialog">
            <div class="modal-content container  text-white" style="background-color: #de0146;">
                <form asp-action="OrderedDetails" asp-controller="Home">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Thông tin đơn hàng</h1>
                        <button type="button" class="btn-close  text-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h3 class="text-center">Electronics Store</h3>
                        <h4 class="text-center mt-3">Vui lòng cung cấp thông tin!</h4>
                        <div class="d-flex justify-content-center mt-4">
                            <div class=" w-75 ">
                                <span>Mã đơn hàng</span>
                                <textarea type="text" autofocus class="form-control w-100 mb-2" style="height: 40px;" required name="Madh" placeholder="Nhập mã đơn hàng..."></textarea>
                                <span>Số điện thoại khi mua hàng</span>
                                <input type="number" minlength="9" maxlength="12" class="form-control w-100 " required name="Sdt" placeholder="Nhập số điện thoại khi đặt hàng...">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="submit" class="btn btn-lg text-white" style="border: 4px solid #fff;">Tra cứu</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    @RenderBody()

    <footer class="text-center text-lg-start bg-white text-muted mt-3">


        <!-- Section: Links  -->
        <section class="pt-3">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i> Electronics Store
                        </h6>
                        <p>
                            Cảm Ơn !!!
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Sản Phẩm
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Linh kiện điện tử</a>
                        </p>

                        <p>
                            <a href="#!" class="text-reset">Main Board</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Màn Hình</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">VGA</a>
                        </p>
                    </div>

                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Trang liên quan
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">...</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">...</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">...</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">...</a>
                        </p>
                    </div>

                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <p><i class="fas fa-home me-3"></i> Bình Mỹ, Củ Chi, Hồ Chí Minh</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            electronicsstore@gmail.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> + 0384319202</p>
                        <p><i class="fas fa-print me-3"></i> + 0384319203</p>
                    </div>
                </div>
            </div>
        </section>

        <div class="text-center p-4 " style="background-color: rgba(0, 0, 0, 0.05);">
            © 2023. Công ty cổ phần ElectronicsStore. GPDKKD: 0303217... do sở KH & ĐT TP.HCM cấp ngày dd/MM/yyyy.
            GPMXH: 5-0-0/GP-BTTTT do Bộ Thông Tin và Truyền Thông cấp ngày dd/MM/yyyy.
            Địa chỉ: 001A, Bình Mỹ, Củ Chi, TP.Hồ Chí Minh. Điện thoại: 028 38122001. Email:
            cskh@ElectronicsStore.com. Chịu trách nhiệm nội dung: Nguyễn Văn Hiền.
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>

    <script src="~/tab/tab.js"></script>
    <script>

        const body = document.querySelector("body"),
            nav = document.querySelector("nav"),
            modeToggle = document.querySelector(".dark-light"),
            searchToggle = document.querySelector(".searchToggle"),
            sidebarOpen = document.querySelector(".sidebarOpen"),
            siderbarClose = document.querySelector(".siderbarClose");

        let getMode = localStorage.getItem("mode");
        if (getMode && getMode === "dark-mode") {
            body.classList.add("dark");
        }

        // js code to toggle dark and light mode
        modeToggle.addEventListener("click", () => {
            modeToggle.classList.toggle("active");
            body.classList.toggle("dark");

            // js code to keep user selected mode even page refresh or file reopen
            if (!body.classList.contains("dark")) {
                localStorage.setItem("mode", "light-mode");
            } else {
                localStorage.setItem("mode", "dark-mode");
            }
        });

        // js code to toggle search box
        searchToggle.addEventListener("click", () => {
            searchToggle.classList.toggle("active");
        });


        //   js code to toggle sidebar
        sidebarOpen.addEventListener("click", () => {
            nav.classList.add("active");
        });

        body.addEventListener("click", e => {
            let clickedElm = e.target;

            if (!clickedElm.classList.contains("sidebarOpen") && !clickedElm.classList.contains("menu")) {
                nav.classList.remove("active");
            }
        });

    </script>


    <script>
        //search product
        // Lấy danh sách sản phẩm
        // Lấy danh sách sản phẩm
        const productList = document.getElementById('product-list').querySelectorAll('.productItem');

        // Lấy ô input và thêm sự kiện khi người dùng nhập giá trị vào ô input
        const searchInput = document.getElementById('search-input');
        const searchInput2 = document.getElementById('search-input2');
        searchInput.addEventListener('input', () => {
            const keyword = searchInput.value.toLowerCase(); // Chuyển giá trị nhập vào thành chữ thường
            productList.forEach((product) => {
                const productName = product.querySelector('.card-title').innerText.toLowerCase(); // Lấy tên sản phẩm và chuyển thành chữ thường
                if (productName.includes(keyword)) { // Nếu tên sản phẩm chứa keyword, hiển thị sản phẩm đó
                    product.style.display = 'block';
                } else { // Nếu không, ẩn sản phẩm đó đi
                    product.style.display = 'none';
                }
            });
        });
        searchInput2.addEventListener('input', () => {
            const keyword = searchInput2.value.toLowerCase(); // Chuyển giá trị nhập vào thành chữ thường
            productList.forEach((product) => {
                const productName = product.querySelector('.card-title').innerText.toLowerCase(); // Lấy tên sản phẩm và chuyển thành chữ thường
                if (productName.includes(keyword)) { // Nếu tên sản phẩm chứa keyword, hiển thị sản phẩm đó
                    product.style.display = 'block';
                } else { // Nếu không, ẩn sản phẩm đó đi
                    product.style.display = 'none';
                }
            });
        });


        // Đẩy các sản phẩm block lại gần nhau
        let visibleProducts = document.querySelectorAll(".card.product:not([style*='display: none'])");
        for (let i = 0; i < visibleProducts.length; i++) {
            visibleProducts[i].classList.remove("mb-2");
            if (i !== visibleProducts.length - 1) {
                visibleProducts[i].classList.add("mb-2");
            }
        }



        const productType = document.querySelectorAll('.product-type');

        productType.forEach((type) => {
            type.addEventListener('click', () => {
                let Nhomhh = type.querySelector('.Idnhh').value;

                productList.forEach((product) => {
                    const productType = product.querySelector('.Idnhh').value.trim(); // Lấy tên sản phẩm và chuyển thành chữ thường
                    if (productType.includes(Nhomhh)) { // Nếu tên sản phẩm chứa keyword, hiển thị sản phẩm đó
                        product.style.display = 'block';
                    } else { // Nếu không, ẩn sản phẩm đó đi
                        product.style.display = 'none';

                    }
                });
            });


        });
    </script>
    <script>

        let cartItems = JSON.parse(localStorage.getItem('cartItems')) || [];
        document.getElementById("count-items").innerText = cartItems.length;


    </script>
    <script>
        const InfoDropDown = document.getElementById("InfoDropDown");
        const InfoDropDownItem = document.getElementById("InfoDropDownItem");
        InfoDropDown.addEventListener("click", function () {
            if (InfoDropDownItem.style.display == "none") {
                InfoDropDownItem.style.display = "block"
                console.log("sssss")
            } else if (InfoDropDownItem.style.display == "block") {
                InfoDropDownItem.style.display = "none"
                console.log("aaaa")


            }
        })
    </script>
</body>

</html>