@model ElectronicsStore.Models.Phieutranoncc

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Phieutranoncc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idptnncc" />
            <div class="form-group">
                <label asp-for="Sophieu" class="control-label"></label>
                <input asp-for="Sophieu" class="form-control" />
                <span asp-validation-for="Sophieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngaylap" class="control-label"></label>
                <input asp-for="Ngaylap" class="form-control" />
                <span asp-validation-for="Ngaylap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ghichu" class="control-label"></label>
                <input asp-for="Ghichu" class="form-control" />
                <span asp-validation-for="Ghichu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Active" class="control-label"></label>
                <input asp-for="Active" class="form-control" />
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idhttt" class="control-label"></label>
                <select asp-for="Idhttt" class="form-control" asp-items="ViewBag.Idhttt"></select>
                <span asp-validation-for="Idhttt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idnv" class="control-label"></label>
                <select asp-for="Idnv" class="form-control" asp-items="ViewBag.Idnv"></select>
                <span asp-validation-for="Idnv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
