@model ElectronicsStore.Models.Hinhthucthanhtoan

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Hinhthucthanhtoan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mahttt" class="control-label"></label>
                <input asp-for="Mahttt" class="form-control" />
                <span asp-validation-for="Mahttt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tenhttt" class="control-label"></label>
                <input asp-for="Tenhttt" class="form-control" />
                <span asp-validation-for="Tenhttt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
